<div class="row" style="margin: 1%;height: 60%;">
    <div class="col-7">
        <div class="row">
            <div class="card col-md-3 info-box" >New Orders <br/> <span class="value">{{dahboardDetails.NewOrder}}</span></div>
            <div class="card col-md-3 info-box" >New Estimates <br/> <span class="value">{{dahboardDetails.NewEstimate}}</span></div>
            <div class="card col-md-3 info-box" >Orders In Transit <br/> <span class="value">{{dahboardDetails.OrderInTransit}}</span></div>
        </div>
        <div class="row">
            <div class="card col-md-3 info-box" >Total Partners <span class="value">{{dahboardDetails.TotalPartners}}</span></div>
        </div>
        <div class="row">
            <div class="card col-md-3 info-box" >Total Customers <span class="value">{{dahboardDetails.TotalCustomer}}</span></div>
        </div>
        <div class="row">
            <div class="card col-md-3 info-box" >All Orders <span class="value">{{dahboardDetails.AllOrders}}</span></div>
        </div>
    </div>
    <div class="col-5 card"><app-track-order></app-track-order></div>    
</div>
