<p>
    <mat-toolbar color="primary">
      <span class="material-icons" (click)="opened=!opened" style="cursor:pointer;">menu</span> &nbsp;
      <span>SN Transport</span>

      <div class="spacer"></div>
      <label style="margin-right:2%">Welcome , {{userDetails.CPName}}</label>
      <a mat-raised-button color="accent" (click)="logOut();">Log Out</a>
    </mat-toolbar>
</p>


<!-- matListIcon is an attribute -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [(opened)]="opened">
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLinkActive="isActive" [routerLink]="['/enterprise',{outlets:{'enterpriseHome':['dashboard']}}]">
        <mat-icon matListIcon>home</mat-icon>Home
      </mat-list-option>
      <mat-list-option routerLinkActive="isActive" [routerLink]="['/enterprise',{outlets:{'enterpriseHome':['add']}}]">
        <mat-icon matListIcon>local_shipping</mat-icon>Add Order
      </mat-list-option>
      <mat-list-option routerLinkActive="isActive" [routerLink]="['/enterprise',{outlets:{'enterpriseHome':['invoice']}}]">
        <mat-icon matListIcon>download</mat-icon>Download Invoice
      </mat-list-option>
      <mat-list-option routerLinkActive="isActive" [routerLink]="['/enterprise',{outlets:{'enterpriseHome':['details']}}]">
        <mat-icon matListIcon>badge</mat-icon>Personal Details
      </mat-list-option>
      <mat-list-option routerLinkActive="isActive" [routerLink]="['/enterprise',{outlets:{'enterpriseHome':['updatePass']}}]">
        <mat-icon matListIcon>settings</mat-icon>Update Password
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet name="enterpriseHome"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

