.spacer{
    flex: 1 1 auto;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer-container {
    height: 100%;
  }

  mat-drawer {
    width: 20%;
    background: #0f172a;
  }

  .mat-list-option{
    color: white;
  }

  .mat-list-option:hover{
    background-color: blue;
  }

  .isActive{
    background-color: blue;
  }

