<p style="text-align: center;font-size: large;">
    Need any help ?? Please reach us via following channels:
</p>

<div class="row" style="text-align: center;padding: 4%;">
    <div class="col-md-4">
        <span class="material-icons md-48">location_on</span>
        <br/>
        Shop No 7, Laxmi Hazari Chawl,Near Old Janta Sweets, Koldongri,Andheri (E),Mumbai-400069
    </div>
    <div class="col-md-4">
        <span class="material-icons md-48">call</span>
        <br/>
        90999 12466/99674 95949
    </div>
    <div class="col-md-4">
        <span class="material-icons md-48">email</span>
        <br/>
        ynishu51@gmail.com
    </div>
</div>

<div style="padding: 1%;margin: 1%;">
<span style="font-size: x-large;font-weight: bold;">Frequently Asked Question :</span>
<br><br>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Whether SNTransport issues invoices after the trip?">
      <ng-template ngbPanelContent>
        SN Transport is a registered Goods Transport Agency. After the completion of trip, the invoice will be shared over the registered email-id of the customer.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Whether GST is charged on the services of SN Transport?">
        <ng-template ngbPanelContent>
          SN Transport does not charge GST on its services. Services by GTA by way of transportation of goods are exempted under GST, if services are provided to an unregistered person.If services are provided to a registered person then the customer needs to pay GST under the Reverse Charge Mechanism.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="What are the documents that need to be given to driver partners along with the goods being transported?">
        <ng-template ngbPanelContent>
          The customer should always give the invoice / bill of supply / delivery challan / bill of entry or any other documents as required under GST law and rules. It is the responsibility of the customer to hand over these documents to the driver partners of SN Transport to ensure a smooth experience.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Do you provide labour (loading/unloading) services?">
        <ng-template ngbPanelContent>
          Yes, SN Transport has Driver(Helper) and Driver(Helper) + 1 Labour service-abilities for additional help please call on above mentioned numbers.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="How can I pay the trip fare?">
        <ng-template ngbPanelContent>
          The trip fare is calculated after a trip is ended. There are multiple ways to pay the fare: <br/>
<b>UPI:</b>
You can directly pay the bill amount using any UPI app that you have on this UPI number 9967495949
<br/>
<b>Cash:</b>
The trip fare can also be paid in cash directly to our partner at the drop location. 
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Can I place a booking in advance?">
        <ng-template ngbPanelContent>
          We do not provide advance booking feature on our website but you can call us and check the availibity of advance booking.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Do you serve 24X7 or is there any time limit?">
        <ng-template ngbPanelContent>
          Yes, we do serve you 24x7. Please note that the order confirmation is subject to vehicle availability.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Who pays the toll, parking and other charges?">
        <ng-template ngbPanelContent>
          <b>Toll Charges:</b>
These are included in your trip fare So you don't have to pay for these changes at the time of crossing the toll or pay additional money to the partner. Please note that if a toll falls in your one way trip, then you may be charged a return toll as the partner has to pay the same once he is returning from your drop location. <br/>
<b>Parking & Other Charges:</b>
The customer has to bear these charge over and above the fare amount. These charges have to be paid to our partner directly.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Are my goods secure?">
        <ng-template ngbPanelContent>
          All our partners go through a background verification process. Also, you can use our tracking system to track your goods live while they are being transported.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Can the drop location be changed?">
        <ng-template ngbPanelContent>
          You don't have to! Please ask the driver to proceed to the new location. We will automatically calculate the new price based on the new drop location.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Is there any service guarantee?">
        <ng-template ngbPanelContent>
          We would like to assure you of the accuracy of our ETA & the estimated travel time. However, given the unpredictable nature of traffic & road conditions, we do not provide any service guarantee.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="In what circumstances can the trip fare change?">
        <ng-template ngbPanelContent>
          The trip fare can change due to the below mentioned reasons:<br/>
1. If the Pick up and drop location changes a lot from the originally mentioned ones <br/>
2. If the Loading and unloading time exceeds 60 mins <br/>
3. If there are multiple stops in the trip <br/>
4.  If you are particular about the route that needs to be taken by the driver and if that route is different from our recommendation to the driver <br/>
5. Other unforeseen issues <br/>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Whether we need to pay full amount at the end of the trip or deduct TDS at the time of payment?">
        <ng-template ngbPanelContent>
          Entire fare amount needs to be paid while making the payment. TDS amount may be deposited over and above the trip fare as per applicable rates on behalf of Porter.
        </ng-template>
      </ngb-panel>
</ngb-accordion>
</div>