table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 20%;
  }
  
.middle{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    height: fit-content;
}  