.c-stepper {
  display: flex;
  flex-wrap: wrap;
}

.c-stepper__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-stepper__item:before {
  --size: 3rem;
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 1rem auto 0;
}


    /* CSS For ICONS */
    .material-icons.md-48 { font-size: 48px; }
    .material-icons.md-60 { font-size: 60px; }


    h1 {
      font-family: sans-serif;
      margin: auto;
      color: #228B22;
      text-align: center;
      font-size: 30px;
      max-width: 600px;
      position: relative;
    }
    h1:before {
      content: "";
      display: block;
      width: 130px;
      height: 5px;
      background: #191970;
      left: 0;
      top: 50%;
      position: absolute;
    }
    h1:after {
      content: "";
      display: block;
      width: 130px;
      height: 5px;
      background: #191970;
      right: 0;
      top: 50%;
      position: absolute;
    }