table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 15%;
  }
  
  .info-box{
    margin: 1%;
    text-align: center;
    font-size: large;
    padding: 1%;
}

.value{
    color: red;
    font-size: xx-large;
    margin:2%;
}
