<div>
    <div class="row" style="margin: 1%;" *ngIf="orderList">
        <div class="card">              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="orderList" matSort>                  
                  <!-- PickUpAddress Column -->
                  <ng-container matColumnDef="PickUpAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PickUp Address </th>
                    <td mat-cell *matCellDef="let row"> {{row.PickUpAddress}} </td>
                  </ng-container>
              
                  <!-- DestinationAddress Column -->
                  <ng-container matColumnDef="DestinationAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination Address </th>
                    <td mat-cell *matCellDef="let row"> {{row.DestinationAddress}} </td>
                  </ng-container>

                  <!-- PickUpTime Column -->
                  <ng-container matColumnDef="PickUpTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pick-Up Time </th>
                    <td mat-cell *matCellDef="let row"> {{row.PickUpTime}} </td>
                  </ng-container>
                  
                  <!-- RecipientName Column -->
                  <ng-container matColumnDef="RecipientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipient Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.RecipientName}} </td>
                  </ng-container>
        
                  <!-- VehicleType Column -->
                  <ng-container matColumnDef="VehicleType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.VehicleType}} </td>
                  </ng-container>
              
        
                  <!-- Actions Column -->
                  <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row"> 
                      <button (click)="confirmCancellation(row);" type="button" class="btn btn-danger">CANCEL ORDER</button>
                    </td>
                  </ng-container>
              
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
            </div>
    </div>
    <div class="row" style="margin: 1%; height: 60%;">
        <div class="col-7">
          <div class="row">
            <div class="card col-md-3 info-box" >New Orders <br/> <span class="value">{{dahboardDetails.NewOrder}}</span></div>
            <div class="card col-md-3 info-box" >Orders In Transit <br/> <span class="value">{{dahboardDetails.OrderInTransit}}</span></div>
            <div class="card col-md-3 info-box" >All Orders <br/> <span class="value">{{dahboardDetails.AllOrders}}</span></div>
        </div>
        </div>
        <div class="col-5 card"><app-track-order></app-track-order></div>
    </div>
</div>