/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.forForms > * {
    margin: 20px 0;
}

.forContentForms > * {
    margin: 20px 0;
    margin-top: 0px;
}

.float-right{
    float: right;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCentered{
    text-align: center;
}

.mat-header-cell{
    color: blue;
}